/*
Theme Name: Rife Free child theme
Description: Made by <a href="http://apollo13themes.com/" target="_blank">Apollo13</a>.<br/> Get support from <a href="http://support.apollo13.eu/" target="_blank">Forum</a>.
Author: Apollo13
Author URI: http://apollo13themes.com/
Theme URI: http://apollo13themes.com/themes
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: rife-free
Tags: theme-options, post-formats, two-columns, translation-ready
Text Domain: rife-free-child-theme
Version: 1.0
*/

/* Add your CSS below */
/*preloader fix*/
#preloader {
    z-index: 99;
}

a.to-top{
    z-index: 98;
}

@media only screen and (max-width: 768px) {
    .elementor-widget-a13fe-gallery-live h2{
        font-size: 0.8em;
    }

    .title-bottom .texts_group {
        bottom: 1%;
    }
}


/* Share in LigthBox */
#lg-share{
    display: none;
}


/* works and catalog styles */
.works-grid-container {
    margin-top: 80px;
}

.category-filter.works-filter + .works-bricks .works-grid-container{
    margin-top: 0;
}


/*UNDERLINE*/
.underline h2 {
    font-size: 18px;
}

.underline p {
    margin: 8px 0;
}

.underline{
    position: relative;
}

.underline,
.underline h2{
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.underline:hover,
.underline:hover h2{
    color: #fff;
}

/*неподвижная линия*/
.underline::after {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    bottom: 12px;
    left: 2.5%;
    background: #fff;
    opacity: 0.6;
}

/*подвижная линяя*/
.underline::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    bottom: 12px;
    left: 2.5%;
    background: #fff;
    visibility: hidden;
    border-radius: 5px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.underline:hover:before,
.underline:focus:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.underline-parent .elementor-row{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .underline-parent .underline .elementor-widget-text-editor,
    .underline-parent .underline::after,
    .underline-parent .underline::before{
        display:none
    }

    .underline-parent .underline {
        border: 1px solid #ccc;
        background: rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        opacity: 0.6;
        text-align: center;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    .underline-parent .underline .elementor-widget:not(:last-child) {
        margin-bottom: 0;
    }
}


/*SCALE effect*/
.scale{
    overflow: hidden;
    margin: 10px;
}

.elementor-image img{
    width:100%;
}

.scale > .elementor-column-wrap{
    padding: 0 !important;
}

/*Раздел Live и Scale-Live*/
.scale-live img{
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.scale-live:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.scale-live .elementor-image{
    overflow: hidden;
}

@media only screen and (max-width: 768px) {

    .scale-live:nth-child(even) .live_main-column .elementor-widget-image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .scale-live:nth-child(even) .elementor-widget-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .scale-live:nth-of-type(even) .elementor-widget-wrap section:nth-of-type(even) .elementor-row > div:nth-child(1) .elementor-widget-wrap > div:nth-of-type(1) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .scale-live:nth-of-type(even) .elementor-widget-wrap section:nth-of-type(even) .elementor-row > div:nth-child(1) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.live_main-column h2 {
    position: absolute;
    bottom: 0;
}

.scale-live .elementor-widget-heading .elementor-heading-title {
    padding: 10px;
}

/* live альбомы в 3 и в 2 ряда */
.album-live .elementor-row {
    flex-wrap: wrap;
    justify-content: center;
}

.album-live .elementor-row > div {
    flex: 0 0 33%;
}

@media only screen and (max-width: 768px) {
    .album-live .elementor-row > div {
        flex: 0 0 50%;
    }
}


/*REWRITE STYLES*/
#content-overlay{
    background: rgba(0,0,0,0.8);
}

.formatter{
    padding-top: 0px
}

.object-item .covering-image {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(50%, rgba(0, 0, 0, 0)));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
}


/*hamburger and header*/
#header{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0))) !important;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)) !important;
}

#header.sticky-values{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.a13icon-menu:before{
    content: "";
}

#header-tools button {
    height: 15px;
    width: 25px;
}

@media only screen and (max-width: 768px) {
    .top-menu li a{
        font-size: 2em;
    }

    .mobile-menu .navigation-bar .top-menu li a{
        line-height: 2em;
    }
}

@media only screen and (max-width: 1024px) {
    #header-tools #search-button {
        font-size: 25px;
    }

    .header-horizontal #header .head {
        padding: 0 15px;
    }
}

#mobile-menu-opener{
    position: relative;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    cursor: pointer;
    overflow: hidden;
}

.mobile-menu-hamburger{
    display: block;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.5px;
    height: 1px;
    position: absolute;
    width: 150%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.7s;;
    -o-transition: all 0.7s;;
    transition: all 0.7s;;
}

#mobile-menu-opener .mobile-menu-hamburger:nth-of-type(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#mobile-menu-opener .mobile-menu-hamburger:nth-of-type(2) {
    top: 50%;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#mobile-menu-opener .mobile-menu-hamburger:nth-of-type(3) {
    bottom: 0;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#mobile-menu-opener.active .mobile-menu-hamburger:nth-of-type(1) {
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    transform: rotate(43deg);
    top: 0;
    left: 0;
}

#mobile-menu-opener.active .mobile-menu-hamburger:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

#mobile-menu-opener.active .mobile-menu-hamburger:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 100%;
    left: 0;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

/* fix logo position */
a.logo {
    padding-right: 25px;
}

@media only screen and (max-width: 768px) {
    a.logo {
        padding-right: 5px;
    }
}


/*footer*/

#footer{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#footer.narrow .foot-widgets,
#footer.narrow .foot-items .foot-content{
    max-width: 1100px;
}

.foot-widgets .foot-content {
    margin-left: 0;
}

#footer .widget {
    margin: 30px auto;
}

#footer .widget:first-child {
    margin-left: -5px;
}

#footer .widget:last-child {
    margin-right: -5px;
}

.foot-widgets .foot-content {
    display: flex;
    flex-wrap: wrap;
}

.widget.widget_text {
    width: auto;
    margin: 0 auto;
}

#footer .widget h3.title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    text-transform: none;
    letter-spacing: 1.26px;
}

@media only screen and (max-width: 768px) {
    .widget.widget_text {
        flex: 0 0 50%;
    }

    .widget,
    .widget h3.title {
        text-align: center;
    }

    .f-links, .foot-text {
        float: none;
        text-align: center;
        max-width: none;
    }
}


/*404*/
.default404 .title-bar.outside h2,
.emblem,
.default404 .title-bar.outside .page-title{

}

.default404 .title-bar.outside h2 a{
    color: rgba(255,255,255,0.6);;
}
.default404 .title-bar.outside .page-title,
.default404 .title-bar.outside h2,
.default404 .title-bar.outside h2 a:hover {
    color: #fff;
}

@media only screen and (max-width: 400px) {
    .title-bar.outside .overlay-color {
        padding-top: 80px;
    }
}

/*header main menu*/
.header-horizontal .top-menu{
    text-align: left;
}

.header-type-one_line .head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-horizontal .navigation-bar{
    width: auto;
}

.header-horizontal .logo-container{
    margin-left: auto;
}

.header-horizontal #header-tools{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#header-tools .tool{
    line-height: 1;
    margin: 0 5px;
}

.header-horizontal #header-tools::before{
    display: none;
}

@media only screen and (max-width: 600px) {
    .header-horizontal #header-tools {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .header-horizontal .mobile-menu .logo-container {
        width: auto;
    }
}


/*social icons*/
.color a.a13_soc-instagram{ background: -o-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }
.color a.a13_soc-whatsapp{ background-color: #4AC959; }
.color a.a13_soc-vkontakte{ background-color: #597da3; }

.color_hover a.a13_soc-instagram:hover{ background:-o-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }
.color_hover a.a13_soc-whatsapp:hover{ background-color: #4AC959; }
.color_hover a.a13_soc-vkontakte:hover{ background-color: #597da3; }


/*todo надо найти через панель*/
.cpt-nav,
.layout-full_fixed .cpt-nav::before,
.layout-full_fixed .cpt-nav::after{
    background-color: #31363a;
}


/*todo доделать стили в поиске */
.search-container{
    background-color: #31363a;
    color: rgba(255,255,255,0.6);
}

.lt-ie10 .search-container input[type="text"],
.search-container input[type="search"],
.searchwp-live-search-result .title,
.searchwp-live-search-results .all-results {
    color: rgba(255,255,255,0.6);
}

.lt-ie10 .search-container input[type="text"]:focus,
.search-container input[type="search"]:focus{
    color: rgba(255,255,255,0.4);
}

.searchwp-live-search-results .all-results:hover,
.searchwp-live-search-result--focused .all-results{
    background-color: rgba(0, 0, 0, 0.03);
}

body.elementor-kit-11642 h2{
    color: #fff;
}


/*не нашел в настройках*/
.posts-nav a span.title{
    color: rgba(255, 255, 255, 0.6);
}

.posts-nav a:hover span.title{
    color: #fff;
}

.posts-nav a span{
    color: rgba(255, 255, 255, 0.4);
}

.dark-sidebar .widget{
    color: rgba(255,255,255,0.6);
}


/*!* =============================================================================*/
/*    A13 slider live*/
/*    ========================================================================== *!*/
/*body.single-album-slider{*/
/*    height: 100%;*/
/*    box-sizing: border-box; !* when slider is below header *!*/
/*}*/
/*body.single-album-slider.admin-bar{*/
/*    height: calc(100% - 32px);*/
/*}*/
/*body.single-album-slider .whole-layout,*/
/*body.single-album-slider #mid{*/
/*    height: 100%; !* pushes footer lower on smaller screens *!*/
/*}*/
/*body.single-album-slider.site-layout-boxed #mid{*/
/*    height: auto;*/
/*}*/
/*.a13-slider-live{*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    padding-top: 56.25%;!* 16:9 *!*/
/*}*/
/*.a13-slider-live:focus{*/
/*    outline: none!important;*/
/*}*/
/*.site-layout-boxed .a13-slider-live{*/
/*    position: relative;*/
/*    padding-top: 56.25%;!* 16:9 *!*/
/*}*/
/*.slider-slides{*/
/*    display: block;*/
/*    margin: 0!important;*/
/*    padding: 0;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    opacity: 0;*/
/*}*/
/*.show-with-slider{*/
/*    opacity: 0;*/
/*}*/
/*.slider-slides,*/
/*.show-with-slider{*/
/*    transition: opacity 1s;*/
/*}*/
/*.show-with-slider.show,*/
/*.slider-slides.show{*/
/*    opacity: 1;*/
/*}*/
/*.slider-slides img{*/
/*    border: none;*/
/*    display: block;*/
/*    height: auto;*/
/*    outline: none;*/
/*    position: relative;*/
/*    width: auto;*/
/*    max-width: none !important; !* if any plugins want mess up slider *!*/
/*}*/
/*.slider-slides > li{ !* > prevents style interfering in slide description *!*/
/*    display: block;*/
/*    list-style: none;*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    z-index: 0;*/
/*    padding: 0 !important;*/
/*    !*visibility: visible!important;*!*/
/*}*/
/*.slider-slides > li.prevslide{*/
/*    z-index: 2;*/
/*}*/
/*.slider-slides > li.activeslide{*/
/*    z-index: 3;*/
/*}*/
/*.slider-slides a.slide{*/
/*    display: block;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    !*rtl:ignore*!*/
/*    direction: ltr;*/
/*}*/
/*.slider-slides li.image-loading {*/
/*    background: transparent url(../rife-free/images/ajax-loader.gif) no-repeat center center;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/
/*.slider-slides li.image-loading img{*/
/*    visibility: hidden;*/
/*}*/
/*.slider-slides li iframe,*/
/*.slider-slides div.wp-video{*/
/*    border: none;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: relative;*/
/*}*/
/*.slider-slides div.video-poster{*/
/*    background-size: cover;*/
/*    background-position: 50% 50%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    z-index: 10;*/
/*    cursor: pointer;*/
/*}*/
/*.slider-slides div.video-poster::before{*/
/*    content: "\e901";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    z-index: 11;*/
/*    margin: -50px 0 0 -50px;*/
/*    width: 150px;*/
/*    height: 100px;*/
/*    line-height: 100px;*/
/*    font-size: 48px;*/
/*    text-align: center;*/
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*    -webkit-border-radius: 6px;*/
/*    border-radius: 6px;*/
/*    color: #A7A7A7;*/
/*    font-family: "a13-icomoon", monospace;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-variant: normal;*/
/*    text-transform: none;*/
/*}*/

/*.slider-slides div.mejs-container{*/
/*    width: 100% !important;*/
/*    height: 100% !important;*/
/*}*/

/*!* SLIDER CONTROLS *!*/
/*.slider-arrow{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    !*rtl:ignore*!*/
/*    left: 0;*/
/*    z-index: 5;*/
/*    margin-top: -20px;*/
/*    width: 150px;*/
/*    line-height: 40px;*/
/*    font-size: 40px;*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    text-shadow: 0 0 3px rgba(0,0,0,0.5); !* make sure it will be visible on white background *!*/
/*    cursor: pointer;*/
/*    transition: opacity .5s;*/
/*    opacity: 0.6;*/
/*}*/
/*.slider-arrow:hover{*/
/*    opacity: 1;*/
/*}*/
/*.next-slide-control{*/
/*    !*rtl:ignore*!*/
/*    left: auto;*/
/*    !*rtl:ignore*!*/
/*    right: 0;*/
/*}*/
/*.hide-items .slider-arrow{*/
/*    opacity: 0;*/
/*}*/

/*.slider-controls{*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    right: 65px;*/
/*    z-index: 5;*/
/*    transition: bottom .5s, margin .5s, opacity .5s;*/
/*}*/
/*.thumbs-open .slider-controls{*/
/*    bottom: 140px;*/
/*}*/
/*.hide-items .slider-controls{*/
/*    opacity: 0;*/
/*}*/
/*.slider-play-button{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    width: 42px;*/
/*    height: 42px;*/
/*    border: 1px solid rgba(255,255,255,0.5);*/
/*    -webkit-border-radius: 22px;*/
/*    border-radius: 22px;*/
/*    transition: border-color .5s;*/
/*    margin-right: 30px;*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    text-shadow: 0 0 3px rgba(0,0,0,0.5);!* make sure it will be visible on white background *!*/
/*}*/
/*.slider-play-button:hover{*/
/*    border-color: #fff;*/
/*}*/
/*.slider-play-button .circle{*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 42px;*/
/*    height: 42px;*/
/*    margin: -21px 0 0 -21px;*/
/*    -webkit-border-radius: 22px;*/
/*    border-radius: 22px;*/
/*    background-color: rgba(255,255,255,0.2);*/
/*}*/
/*.slider-play-button::before{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    line-height: 42px;*/
/*    text-align: center;*/
/*}*/
/*.slider-play-button.play::before{*/
/*    content: "\e900"; !* when slider is playing we display pause symbol button *!*/
/*}*/

/*span.slides-count{*/
/*    color: #fff;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    height: 40px;*/
/*    line-height: 16px;*/
/*    min-width: 40px;*/
/*    position: relative;*/
/*}*/
/*span.slides-count::after{*/
/*    content: '';*/
/*    height: 1px;*/
/*    width: 57px; !* 40px * sqrt(2)*!*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    margin-left: -20px; !* not half of width of this element, but half of height of parent element *!*/
/*    background-color: rgba(255,255,255,0.5);*/
/*    box-shadow: 0 0 3px rgba(0,0,0,0.5);!* make sure it will be visible on white background *!*/
/*    -webkit-transform-origin: 0 0;*/
/*    -ms-transform-origin: 0 0;*/
/*    transform-origin: 0 0;*/
/*    -webkit-transform: rotate(-45deg);*/
/*    -ms-transform: rotate(-45deg);*/
/*    transform: rotate(-45deg);*/
/*}*/
/*span.slides-count span{*/
/*    display: block;*/
/*    height: 20px;*/
/*    text-align: left;*/
/*    text-shadow: 0 0 3px rgba(0,0,0,0.5); !* make sure it will be visible on white background *!*/
/*}*/
/*span.slides-count span.num{*/
/*    padding-right: calc(50% + 5px);*/
/*    text-align: right; !* so it will be always close to divider line *!*/
/*}*/
/*span.slides-count span.of{*/
/*    padding-left: calc(50% + 5px);*/
/*    padding-top: 4px;*/
/*    height: 16px;*/
/*}*/


/*!* SLIDE DESCRIPTION *!*/
/*.slide-caption{*/
/*    overflow: hidden;*/
/*    color: #B9B9B9;*/
/*    font-size: 13px;*/
/*    line-height: 20px;*/
/*    max-width: 45%;*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    left: 65px;*/
/*    z-index: 30;*/
/*    transition: bottom .5s, margin .5s;*/
/*}*/
/*.thumbs-open .slide-caption{*/
/*    bottom: 140px;*/
/*}*/
/*.slide-caption h2.title{*/
/*    color: #fff;*/
/*    font-size: 22px;*/
/*    line-height: 24px;*/
/*    letter-spacing: -1px;*/
/*    margin: 0;*/
/*}*/
/*.slide-caption h2.title span{*/
/*    padding: 15px;*/
/*    display: inline-block;*/
/*}*/
/*.slide-caption.with-description h2.title span{*/
/*    padding-bottom: 0;*/
/*}*/
/*.slide-caption .description{*/
/*    margin-top: 20px;*/
/*}*/
/*.slide-caption.with-color .description{*/
/*    padding: 15px;*/
/*    margin-top: 0;*/
/*    max-height: 200px;*/
/*    overflow: auto;*/
/*}*/
/*.slide-caption.with-color .description .addtoany_list a > span {*/
/*    vertical-align: top;*/
/*}*/
/*.texts-opener{*/
/*    display: none;*/
/*    width: 42px;*/
/*    height: 42px;*/
/*    margin-top: 30px; !* space from text that will show up *!*/
/*    border: 1px solid rgba(255,255,255,0.5);*/
/*    color: #fff;*/
/*    font-family: Georgia,sans-serif;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    line-height: 40px;*/
/*    font-size: 20px;*/
/*    cursor: pointer;*/
/*    -webkit-border-radius: 22px;*/
/*    border-radius: 22px;*/
/*    transition: border-color .5s;*/
/*}*/
/*.texts-opener:hover,*/
/*.texts-opener.open{*/
/*    border-color: #fff;*/
/*}*/

/*.slider-play-animation {*/
/*    height: 100px;*/
/*    width:  100px;*/
/*    margin: -50px 0 0 -50px;*/
/*    position: absolute;*/
/*    pointer-events: none;*/
/*    z-index: 5;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*}*/
/*.slider-play-animation svg{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*!* Thumbnail Tray *!*/
/*.thumb-tray-button{*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    width: 42px;*/
/*    height: 42px;*/
/*    margin-right: 30px;*/
/*    border: 1px solid rgba(255,255,255,0.5);*/
/*    color: #fff;*/
/*    text-shadow: 0 0 3px rgba(0,0,0,0.5);!* make sure it will be visible on white background *!*/
/*    text-align: center;*/
/*    line-height: 42px !important;*/
/*    font-size: 14px;*/
/*    cursor: pointer;*/
/*    -webkit-border-radius: 22px;*/
/*    border-radius: 22px;*/
/*    transition: border-color .5s;*/
/*}*/
/*.thumb-tray-button:hover,*/
/*.thumb-tray-button.active{*/
/*    border-color: #fff;*/
/*}*/
/*.slider-thumb-tray{*/
/*    height: 100px;*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    bottom: -100px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    z-index: 40;*/
/*    transition: bottom .5s;*/
/*}*/
/*.thumbs-open .slider-thumb-tray{*/
/*    bottom: 0;*/
/*}*/
/*.slider-thumb-tray .inner{*/
/*    height: 100px;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    top: 15px;*/
/*    transition: top .3s;*/
/*}*/
/*.slider-thumb-list{*/
/*    display: block;*/
/*    list-style: none;*/
/*    height: 100%;*/
/*    margin: 0 !important;*/
/*    padding: 0 !important;*/
/*    position: absolute;*/
/*    !*rtl:ignore*!*/
/*    left: 0;*/
/*}*/
/*.slider-thumb-tray li{*/
/*    cursor: pointer;*/
/*    !*rtl:ignore*!*/
/*    float: left;*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*    width: 150px;*/
/*    position: relative;*/
/*}*/
/*.slider-thumb-tray.cursor-grab li,*/
/*.slider-thumb-tray.cursor-grabbing li{*/
/*    cursor: inherit;*/
/*}*/
/*.slider-thumb-list li.current-thumb,*/
/*.slider-thumb-list li:hover{*/
/*    -webkit-transform: translate(0, -15px);*/
/*    transform: translate(0, -15px);*/
/*}*/
/*.slider-thumb-list li div{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    -webkit-transform: translate(50%, 50%);*/
/*    transform: translate(50%, 50%);*/
/*}*/
/*.slider-thumb-list img{*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    min-height: 100%;*/
/*    min-width: 100%;*/
/*}*/
/*.slider-thumb-list li::before{*/
/*    content: "";*/
/*    background-color: rgba(0,0,0,0.3);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    opacity: 1;*/
/*    z-index: 10;*/
/*}*/
/*.slider-thumb-list li.current-thumb::before,*/
/*.slider-thumb-list li:hover::before{*/
/*    opacity: 0;*/
/*}*/
/*.slider-thumb-list li.video::after{*/
/*    content: "\e901";*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    z-index: 11;*/
/*    width: 40px;*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*    font-size: 16px;*/
/*    text-align: center;*/
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*    -webkit-border-radius: 6px;*/
/*    border-radius: 6px;*/
/*    color: #A7A7A7;*/
/*    font-family: "a13-icomoon", monospace;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-variant: normal;*/
/*    text-transform: none;*/
/*}*/

/*!* Gradient *!*/
/*.a13-slider-live.gradient a.slide::after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    z-index: 10;*/
/*    !* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100 *!*/
/*    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); !* Chrome10-25,Safari5.1-6 *!*/
/*    background: 		linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*}*/

/*!* PATTERNS *!*/
/*.a13-slider-live.pattern a.slide::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    z-index: 20;*/
/*    background: transparent url(../rife-free/images/overlays/pattern.png) 0 0 repeat;*/
/*}*/
/*.a13-slider-live.pattern-2 a.slide::before{*/
/*    background-image: url(../rife-free/images/overlays/pattern2.png);*/
/*}*/
/*.a13-slider-live.pattern-3 a.slide::before{*/
/*    background-image: url(../rife-free/images/overlays/pattern3.png);*/
/*}*/
/*.a13-slider-live.pattern-4 a.slide::before{*/
/*    background-image: url(../rife-free/images/overlays/pattern4.png);*/
/*}*/
/*.a13-slider-live.pattern-5 a.slide::before{*/
/*    background-image: url(../rife-free/images/overlays/pattern5.png);*/
/*}*/
